@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    --main-color: #ffffff;
    --text-color: #000000;
    --highlight-color: #2727e6;
  }
  
  body.dark-mode {
    --main-color: #000000;
    --text-color: #ffffff;
    --highlight-color: #ff4141;
}

body {
    font-family: 'Inter';
    font-size: 24px;
    line-height: 40px;

    background-color: var(--main-color);

    color: var(--text-color);
}

section {
    background-image: url(./images/grid.svg);
    background-position: center center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transform: translate(0px, 0);
    pointer-events: none;
    transition: transform 0.5s;
}

body.nav-open section{
    transform: translate(-100px, 0);
}

h1 {
    position: fixed;
    top: 32px;
    left: 32px;
}

h1 rect {
    fill: var(--highlight-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color);
}

a.dark-mode-toggle {
    position: fixed;
    bottom: 32px;
    left: 32px;
}

a.dark-mode-toggle circle {
    fill: currentColor;
}

a.dark-mode-toggle rect {
    stroke: currentColor;
}

a.menu-toggle {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 1;
}

a.menu-toggle rect{
    fill: currentColor;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 600px;
    height: 100%;
    background-color: var(--main-color);
    padding: 48px;
    transform: translate(100%, 0);
    transition: transform 0.5s 0s;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

nav.fake-mid {
    background-color: var(--highlight-color);
    transition-delay: 0.1s;
}

nav.fake-back {
    background-color: var(--text-color);
    transition-delay: 0.2s;
}

body.nav-open nav {
    transform: translate(0, 0);
    transition-delay: 0.2s;
}

body.nav-open nav.fake-mid {
    transition-delay: 0.1s;
}

body.nav-open nav.fake-back {
    transition-delay: 0s;
}

nav div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav div.internal {
    font-size: 48px;
    line-height: 64px;
    flex: 1;
}

svg {
    vertical-align: middle;
}

a.dark-mode-toggle g.toggle circle {
    transition: transform 0.5s;
}

a.dark-mode-toggle:hover g.toggle circle{
    transform: scale(1.75);
}

div.wipe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--highlight-color);
    z-index: 3;
    transition: background-color 0.0001s 2s;
}

@keyframes shape-animation {
    0% {
      transform: rotate(0);
    }
    49.999% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(0);
    }
  }
  
  
  svg.shapes {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 80vw;
    height: 80vw;
    
    max-width: 544px;
    max-height: 544px;
    
    border:  2px solid var(--highlight-color);
    
    transition: transform 0.5s;
  }
  
  body.open svg.shapes {
      transform: translate(calc(-50% - 64px), -50%);
  }
  
  svg.shapes rect {
    fill: var(--highlight-color);
    fill-opacity: 0;
    
    stroke: var(--highlight-color);
    stroke-width: 2px;
    
    transition: fill-opacity 0.25s;
    animation: shape-animation 4s infinite cubic-bezier(0.46,0.03,0.52,0.96);
  }
  
  svg.shapes rect:hover {
    fill-opacity: 0.2;
  }
  
  svg.shapes g:nth-child(2) rect {
    animation-delay: 0.5s;
  }
  
  svg.shapes g:nth-child(3) rect {
    animation-delay: 1s;
  }
  
  svg.shapes g:nth-child(4) rect {
    animation-delay: 1.5s;
  }

  @media (max-width: 600px) {
  body {
    font-size: 16px;
  }
  
  h1 {
    top: 24px;
    left: 24px;
  }
  
  a.dark-mode-toggle {
    position: fixed;
    top: 650px;
    bottom: 24px;
    left: 24px;
  }
  
  a.menu-toggle {
    top: 24px;
    right: 24px;
  }
  
  nav div.internal {
    font-size: 32px;
    line-height: 40px;
  }

  a.menu-toggle span, a.dark-mode-toggle span {
    display: none;
  }
  
}
